* {
  font-family: "Arial Black", bold, sans-serif;

}

body {
  background-color: #10151c;
}

#rus {
  margin-left: 140;
    position: absolute;
    margin-top: 280;
    font-size: 50px;
    color:#2a7046;
}
 #mat {
   margin-left: 540;
     position: absolute;
     margin-top: 280;
     font-size: 50px;
     color:#702a69;
 }
 #inf {
   margin-left: 970;
     position: absolute;
     margin-top: 280;
     font-size: 50px;
     color:#51702a;
 }
 #phy {
   margin-left: 1380;
     position: absolute;
     margin-top: 280;
     font-size: 50px;
     color:#70352a;
 }

#res {
  background-color: #080a0f;
  width: 125;
  height: 60px;
  margin-left: 710;
  margin-top: 225;
  position: absolute;
  border-radius: 6px 6px 6px 6px;
  text-align: center;
  color: #2d5284;
  font-size: 40px;
}
 #my-input2 {
    width: 300px;
    height: 30px;
    color: #2a7038;
    text-align: center;
    font-size: 50px;
    position: absolute;
}

#my-input3 {
  width: 300px;
  height: 7%;
  margin-top: 150;
  text-align: center;
  color: #243142;
  position: absolute;
  font-size: 20px;
}
#my-input4 {

  width: 300px;
  height: 5%;
  margin-top: 220;
  text-align: center;
  color: #1e2938;
  position: absolute;
}
#player {
margin-top: 555;
margin-left: 455;
}

#my-input5 {
  margin-left: 415;
   width: 300px;
   height: 30px;
   color: #722a70;
   text-align: center;
   font-size: 50px;
   position: absolute;

}
#my-input6 {
  width: 300px;
  height: 7%;
  margin-top: 150;
  text-align: center;
  color: #243142;
  position: absolute;
  font-size: 20px;
  margin-left: 415;
}
#my-input7 {
  margin-left: 415;
  width: 300px;
  height: 5%;
  margin-top: 220;
  text-align: center;
  color: #1e2938;
  position: absolute;
}
#my-input8 {

  margin-left: 835;
   width: 300px;
   height: 30px;
   color: #5c822c;
   text-align: center;
   font-size: 50px;
   position: absolute;
}
#my-input9 {
  width: 300px;
  height: 7%;
  margin-top: 150;
  text-align: center;
  color: #243142;
  position: absolute;
  font-size: 20px;
  margin-left: 835;
}
#my-input11 {
  margin-left: 835;
  width: 300px;
  height: 5%;
  margin-top: 220;
  text-align: center;
  color: #1e2938;
  position: absolute;
}
#my-input12 {

  margin-left: 1250;
   width: 300px;
   height: 30px;
   color: #82382a;
   text-align: center;
   font-size: 50px;
   position: absolute;
}
#my-input13 {
  width: 300px;
  height: 7%;
  margin-top: 150;
  text-align: center;
  color: #243142;
  position: absolute;
  font-size: 20px;
  margin-left: 1250;
}
#my-input14 {
  margin-left: 1250;
  width: 300px;
  height: 5%;
  margin-top: 220;
  text-align: center;
  color: #1e2938;
  position: absolute;
}
/* my inputs*/

#my-input {
  width: 125;
  height: 60px;
margin-top: 375;
background-color: #19222d;
outline: none;
color: #2a4870;
border: none;
text-align: center;
  font-size: 40px;
  margin-left:90;
position:absolute;
}
#my-input10 {
  width: 125;
  height: 60px;
  
margin-top: 375;
background-color: #19222d;
outline: none;
color: #2a4870;
border: none;
text-align: center;
  font-size: 40px;
  margin-left:500;
position:absolute;
}
#my-input20 {
  width: 125;
  height: 60px;
  
margin-top: 375;
background-color: #19222d;
outline: none;
color: #2a4870;
border: none;
text-align: center;
  font-size: 40px;
  margin-left:930;
position:absolute;
}
#my-input30 {
  width: 125;
  height: 60px;
  
margin-top: 375;
background-color: #19222d;
outline: none;
color: #2a4870;
border: none;
text-align: center;
  font-size: 40px;
  margin-left:1345;
position:absolute;
}